body, html {
    height: 100%;
    }
    .bg {
    background-image: url("kids.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    }

.message{
    padding-top: 100px;
    padding-bottom:50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: "bold";
    color: #ffffff;
    font-size: 40px;
}

.inscri:hover{
    color:#f3671f!important;
    text-decoration: underline;
  }
